<ion-header>
  <ion-toolbar>
    <ion-title class="tit">About Page</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="btn" text="Back" icon="chevron-back-sharp"  defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col class="mi"><ion-icon name="mail-outline"></ion-icon></ion-col>
      <ion-col>
        <h2>E-mail</h2>
        <p>nationallogistic
          india@gmail.com</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="mi"><ion-icon name="call-outline"></ion-icon></ion-col>
      <ion-col>
        <h2>Phone</h2>
        <p>+91-9737997979</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="mi"><ion-icon name="location-outline"></ion-icon></ion-col>
      <ion-col>
        <h2>Address</h2>
        <p>Mansoor J Rupawala 9,First Floor,Royal Nawab Complex, Near Shalimar Cinema,Shah-E-Alam, Ahmedabad-380028.   
        </p>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-footer class="myf">
     <p class="pj">@2017 National Logistics. All rights reserved </p>
      <ion-grid [fixed]="true">
        <ion-row class="mi3">
          <ion-col></ion-col>
          <ion-col ><ion-icon class="mi2" class="c1" name="logo-facebook"></ion-icon></ion-col>
          <ion-col><ion-icon class="mi2" class="c2" name="logo-instagram"></ion-icon></ion-col>
          <ion-col><ion-icon class="mi2"  class="c4" name="logo-twitter"></ion-icon></ion-col>
          <ion-col><ion-icon class="mi2"  class="c3" name="logo-google"></ion-icon></ion-col>
          <ion-col></ion-col>
        </ion-row>
        </ion-grid> 
  </ion-footer>
</ion-content>