ion-icon{
    //margin-left: 15px;
    color:#2f80ed;
    font-size: 30px;
    
  }



  .mi{
    //margin-left: 65px;
    text-align: center;
    margin-top: 15px;
  }

  .btn{
    //color: #00acee;
    color:#1B6DFF;
    //color:black;
    font-size: 18px;
  }
  .tit{
    padding-left: 25px;
  }

  .c2{
    font-size: 30px;
 }
  .c1{
    color: #3b5998;
  }
  .c3{
    color: red;
  }
  .c4{
    color: #00acee;
  }

  .ji1{
    color:#2f80ed;
    font-size: 25px;
    font-weight: 600;
    text-transform: initial;
  }


  .mi3
  {
  text-align: center;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: -15px;
  }

  .mi2{
    
    font-size: 23px;

  }

  .myf
  {
    padding-top: 5px;
    text-align: center;
    text-transform: initial;
  }

  

  .pj{
    font-size: 17px;
    text-transform: initial;
  }
  h2{
    color:#2f80ed;
    text-transform: initial;
  }

  p{
    font-size: 17px;
    text-transform: initial;
  }