<ion-header>
  <ion-toolbar>
    <ion-title class="tit">Contact Page</ion-title>
    <ion-buttons slot="start">
      <ion-back-button class="btn" text="Back" icon="chevron-back-sharp"  defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <h1>Welcome,</h1>
  <p>Contact-Us</p>

  <form>
    <ion-input name="name" type="text" placeholder="Your Name"></ion-input>
   <ion-input name="email" type="email" placeholder="your@email.com"></ion-input>
   <ion-input  name="subject" type="text" placeholder="Subject"></ion-input>

    <ion-textarea  name="text" type="text" placeholder="Your Message"></ion-textarea>

   <ion-button expand="block" shape="round" routerLink="#">Send Message</ion-button>

  </form>
  <ion-footer class="myf">
    <p class="pj">Connect with us: </p>
     <ion-grid [fixed]="true">
       <ion-row class="mi3">
      
        <ion-col></ion-col>
         <ion-col ><ion-icon class="mi2" class="c1" name="logo-facebook"></ion-icon></ion-col>
         <ion-col><ion-icon class="mi2" class="c2" name="logo-instagram"></ion-icon></ion-col>
         <ion-col><ion-icon class="mi2"  class="c4" name="logo-twitter"></ion-icon></ion-col>
         <ion-col><ion-icon class="mi2"  class="c3" name="logo-google"></ion-icon></ion-col>
         <ion-col></ion-col>
       
       </ion-row>
     
       
       </ion-grid> 
 </ion-footer>
</ion-content>
