<ion-header>
  <ion-toolbar>
    <ion-title>train-track</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="root">
    <figure>
      <!-- <img src="https://images.melorra.com/image/upload/h_350,w_350,f_auto,fl_progressive/v1571040732/live-melorra/dev/catalogue/images/TG/OPT/580/W19WTG16F_C_580.jpg" alt=""> -->
      <ion-icon name="train-sharp"></ion-icon>
      <figcaption>
        <h4>Train Status</h4>
        <h3>22956 Kutch Expres</h3>
        <h5>Gandhidham - Bandra Terminus..</h5>
      </figcaption>
    </figure>
    <div class="order-track">
      <div class="order-track-step">
        <div class="order-track-status">
          <span class="order-track-status-dot"></span>
          <span class="order-track-status-line"></span>
        </div>
        <div class="order-track-text">
          <p class="order-track-text-stat">Ahmedabad Jn</p>
          <span class="order-track-text-sub">20st April, 2023 - 03:00am</span>
        </div>
      </div>
      <div class="order-track-step">
        <div class="order-track-status">
          <span class="order-track-status-dot"></span>
          <span class="order-track-status-line"></span>
        </div>
        <div class="order-track-text">
          <p class="order-track-text-stat">Vadodara Jn</p>
          <span class="order-track-text-sub">20st April, 2023 - 04:50am</span>
        </div>
      </div>
      <div class="order-track-step">
        <div class="order-track-status">
          <span class="order-track-status-dot"></span>
          <span class="order-track-status-line"></span>
        </div>
        <div class="order-track-text">
          <p class="order-track-text-stat">Surat Jn</p>
          <span class="order-track-text-sub">20st April, 2023 - 06:50am</span>
        </div>
      </div>
      <div class="order-track-step">
        <div class="order-track-status">
          <span class="order-track-status-dot"></span>
          <span class="order-track-status-line"></span>
        </div>
        <div class="order-track-text">
          <p class="order-track-text-stat">Vapi Jn</p>
          <span class="order-track-text-sub">20st April, 2023 - 08:50am</span>
        </div>
      </div>
      <div class="order-track-step">
        <div class="order-track-status">
          <span class="order-track-status-dot"></span>
          <span class="order-track-status-line"></span>
        </div>
        <div class="order-track-text">
          <p class="order-track-text-stat">Borivali</p>
          <span class="order-track-text-sub">20st April, 2023 - 10:45am</span>
        </div>
      </div>
    </div>
  </section>
</ion-content>
